*, *::before, *::after {
    box-sizing: border-box;
}

* {
    font-variant: small-caps;
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
}

:root {
    --primary: rgba(28, 23, 23, .8);
    --secondary: rgba(245, 220, 220, 0.9);
    --tertiary: rgba(74, 20, 20, 0.9);
    --accent: rgb(156, 62, 62);
    --grey: rgb(171, 171, 171);
}

body {
    background-image: url(../../assets/images/elysium-planitia.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 99%;
    padding: 1vw 2vw;
}

p {
    color: var(--grey);
}

#header {
    color: var(--accent);
    font-size: .75rem;
    text-align: end;
}

.current-weather {
    background-color: var(--primary);
    color: var(--secondary);
    display: grid;
    gap: 1vw;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    padding: 2vw;
    line-height: 1.5;
    box-shadow: 1vw 1vw 3vw var(--primary);
}

.link {
    text-decoration: none;
    color: inherit;
    transition: 1s;
}

.link:hover {
    color: var(--tertiary);
    text-shadow: 0 0 20px var(--secondary);
}

.main-title {
    grid-column: span 3;
    color: var(--accent);
}

.day, .temp, .wind {
    padding: 0 1vw;
}

.temp {
    border-left: 2px solid var(--accent);
    border-right: 2px solid var(--accent);
}

.wind {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.wind-direction {
    background-color: var(--grey);
    --size: 6rem;
    height: var(--size);
    width: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    /* grid-column: ; */
}

/* fix triangle alignment */
.wind-arrow {
    /* js will update dynamically */
    --direction: 50deg;
    --size: 1rem;
    height: calc(var(--size) * 3);
    width: var(--size);
    background-color: var(--accent);
    clip-path: polygon(50% 0, 0% 100%, 100% 100%);
    transform: translateY(-50%) rotate(var(--direction));
    transform-origin: bottom center;
    transition: transform 5000ms ease;
}

.info {
    grid-column: span 2;
}

.units {
    padding: 1vw;
}

.previous-weather, .previous-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    line-height: 1.25;
}

.previous-header {
    grid-column: span 7;
    padding: 2vh 0 1vh 1vw;
    color: var(--accent);
    text-shadow: 1vw 1vw 1vw var(--primary);
}

.previous-days {
    grid-column: span 7;
    gap: 2vw;
}

.previous-day {
    background-color: var(--primary);
    color: var(--secondary);
    padding: 1vw 1.25vw;
    box-shadow: 1vw 1vw 3vw var(--primary);
}

.previous-sol {
    font-size: 1.25rem;
}

.previous-info {
    margin-top: 1vh;
    border-radius: .5rem;
    border-style: none;
    background-color: var(--accent);
    color: var(--tertiary);
    padding: .25vw .5vw;
}